.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
}

.cards__list {
  padding: 0;
  margin: 29px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 36px;
  min-width: 300px;
  list-style-type: none;
}

.movies__notFound {
  font-weight: 500;
  font-size: 25px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  display: none;
  visibility: hidden;
  opacity: 0;
}
.movies__notFound_active {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateY(150px);
}

.movies__notFound-into {
  font-weight: 500;
  font-size: 25px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 708px;
  }

  .cards__list {
    margin: 70px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 45px;
    min-width: 300px;
    column-gap: 30px;
  }

  /*   .cards__else {
    width: 320px;
    height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.52px;
    color: #ffffff;
    text-align: center;
    background: #202020;
    border: solid 1px #424242;
    border-radius: 6px;
    margin: 64px 0 87px;
    padding: 0;
    cursor: pointer;
  } */

  .cards__else:hover {
    opacity: 0.7;
  }
}

@media (min-width: 1280px) {
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 708px;
  }

  .cards__list {
    margin: 60px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 58px;
    min-width: 1140px;
    column-gap: 30px;
  }

  /*   .cards__else {
    width: 320px;
    height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.52px;
    color: #ffffff;
    text-align: center;
    background: #202020;
    border: solid 1px #424242;
    border-radius: 6px;
    margin: 75px 0 93px;
    padding: 0;
    cursor: pointer;
  }
 */
  .cards__else:hover {
    opacity: 0.7;
  }
}
