.header__register {
  margin: 0;
  padding: 56px 141px 0;
  display: flex;
  justify-content: center;
}

.header__register_img {
  width: 38px;
  height: 38px;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202020;
}

.register__title {
  padding: 50px 0 80px;
  margin: 0 30px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.05px;
  color: #ffffff;
}

.formregister {
  padding: 0;
  margin: 0 0 87px;
}

.form__register {
  padding: 0 0 10px;
  margin: 0;
  border-bottom: 1px solid #424242;
}

.form__register_title {
  margin: 0;
  padding: 0 0 3px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  color: #8b8b8b;
  min-width: 260px;
  text-align: left;
}

.form__register_input {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: #ffffff;
  text-align: left;
  min-width: 260px;
  background-color: #202020;
  border: none;
  outline: none;
}

.register__submit {
  padding: 0;
  margin: 130px 30px 14px;
  min-width: 260px;
  min-height: 45px;
  background: #4285f4;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.52px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.register__logout {
  padding: 0 0 30px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.register__logout_title {
  padding: 0;
  margin: 0;
  color: #8b8b8b;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  text-align: center;
}

.register__logout_link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #4285f4;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}

.form__error {
  padding: 6px 0 6px;
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12.1px;
  color: #ee3465;
  visibility: visible;
  opacity: 1;
  visibility: hidden;
  opacity: 0;
  min-height: 12px;
  display: flex;
  justify-content: flex-start;
}

.form__error_visible {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 768px) {
  .header__register {
    margin: 234px 186px 0;
    padding: 0;
    min-width: 396px;
    display: flex;
    justify-content: flex-start;
  }

  .register {
    min-width: 396px;
  }

  .register__title {
    padding: 40px 0 40px;
    margin: 0;
    font-size: 24px;
    line-height: 29.05px;
    text-align: left;
    min-width: 396px;
  }

  .formregister {
    padding: 0;
    margin: 0 0 87px;
  }

  .form__register {
    padding: 0 0 10px;
    margin: 0;
    min-width: 396px;
  }

  .form__register_title {
    padding: 0 0 3px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
    min-width: 396px;
    text-align: left;
  }

  .form__register_input {
    font-size: 14px;
    line-height: 16.94px;
    text-align: left;
    min-width: 396px;
  }

  .register__submit {
    padding: 0;
    margin: 40px 30px 14px;
    min-width: 260px;
    min-height: 45px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    min-width: 396px;
  }

  .register__logout {
    padding: 0 0 30px;
    margin: 0;
    gap: 6px;
    min-width: 396px;
  }

  .register__logout_title {
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
  }

  .register__logout_link {
    font-size: 14px;
    line-height: 16.94px;
  }
}

@media (min-width: 1280px) {
  .header__register {
    margin: 70px 442px 0;
  }

  .formregister {
    padding: 0;
    margin: 0 0 70px;
  }

  .form__register {
    padding: 0 0 10px;
    margin: 0;
    border-bottom: 1px solid #424242;
    min-width: 396px;
  }

  .form__register_title {
    margin: 0;
    padding: 0 0 3px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
    color: #8b8b8b;
    min-width: 396px;
    text-align: left;
  }

  .form__register_input {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #ffffff;
    text-align: left;
    background-color: #202020;
    border: none;
    outline: none;
    min-width: 396px;
  }

  .register__submit {
    padding: 0;
    margin: 60px 442px 16px;
    min-width: 396px;
    min-height: 45px;
    background: #4285f4;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }

  .register__logout {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    min-width: 396px;
  }

  .register__logout_title {
    padding: 0;
    margin: 0;
    color: #8b8b8b;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
  }

  .register__logout_link {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #4285f4;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
  }

  .form__error {
    padding: 6px 0 6px;
    margin: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.1px;
    color: #ee3465;
    visibility: visible;
    opacity: 1;
    visibility: hidden;
    opacity: 0;
    min-height: 12px;
    display: flex;
    justify-content: flex-start;
  }

  .form__error_visible {
    visibility: visible;
    opacity: 1;
  }
}
