.form {
  padding: 70px 0 0;
  margin: 0 auto;
  min-width: 260px;
  border: none;
  outline: none;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
  text-align: center;
}

.form_type_profile {
  padding: 0 0 379px;
  margin: 0 30px 0;
}

.form__text_type_name {
  padding-bottom: 16px;
  margin: 0 10px 0 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.31px;
  color: #ffffff;
  min-width: 120px;
  text-align: left;
}

.form__text_type_email {
  padding-top: 17px;
  margin: 0 10px 0 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.31px;
  color: #ffffff;
  min-width: 120px;
  text-align: left;
}

.form__input {
  display: flex;
  justify-content: flex-end;
  border: none;
  background-color: #202020;
  border: none;
  outline: none;
}

.form__input_type_profile-name {
  padding: 0;
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 13.31px;
  color: #ffffff;
  text-align: end;
}

.form__input_type_profile-email {
  padding: 0;
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 13.31px;
  color: #ffffff;
  text-align: end;
}

.profile__form {
  display: flex;
  justify-content: space-between;
  min-width: 260px;
}

.profile__form_type_name {
  border-bottom: 1px solid #424242;
}

.profile__title {
  padding: 70px 0 80px;
  margin: 0 57px 0;
  font-size: 25px;
  font-weight: 500;
  line-height: 29.05px;
  color: #ffffff;
}

.profile__button {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 300px;
  margin: 0 10px 0;
}

.profile__button_edit {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  color: #ffffff;
  background-color: #202020;
  border: none;
  cursor: pointer;
}

.profile__button_logout {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  color: #ee3465;
  text-decoration: none;
}

.profile__button_edit:hover {
  opacity: 0.4;
}

.profile__button_logout:hover {
  opacity: 0.4;
}

@media (min-width: 768px) {
  .form {
    padding: 0;
    max-width: 410px;
  }

  .form_type_profile {
    padding: 0 0 210px;
    margin: 0 179px 0;
    gap: 147px;
  }

  .form__text_type_name {
    padding-bottom: 16px;
    margin: 0 147px 0 0;
    font-size: 11px;
    font-weight: 500;
    line-height: 13.31px;
    min-width: 141px;
    text-align: left;
  }

  .form__text_type_email {
    padding-top: 17px;
    margin: 0 147px 0 0;
    font-size: 11px;
    font-weight: 500;
    line-height: 13.31px;
    color: #ffffff;
    min-width: 141px;
    text-align: left;
  }

  .form__input {
    display: flex;
    justify-content: flex-end;
    border: none;
    background-color: #202020;
  }

  .profile {
    background-color: #202020;
    text-align: center;
  }

  .profile__form_type_name {
    border-bottom: 1px solid #424242;
  }

  .profile__title {
    padding: 236px 0 96px;
    margin: 0 281px 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    color: #ffffff;
  }

  .profile__button {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 300px;
    margin: 0 10px 0;
  }

  .profile__button_edit {
    font-size: 13px;
    font-weight: 400;
    line-height: 15.73px;
    color: #ffffff;
    background-color: #202020;
    border: none;
    cursor: pointer;
  }

  .profile__button_logout {
    font-size: 13px;
    font-weight: 500;
    line-height: 15.73px;
    color: #ee3465;
  }
}

@media (min-width: 1280px) {
  .form {
    padding: 0;
    max-width: 410px;
  }

  .form_type_profile {
    padding: 0 0 220px;
    margin: 0 704px 0;
    gap: 147px;
  }

  .form__text_type_name {
    padding-bottom: 16px;
    margin: 0 147px 0 0;
    font-size: 11px;
    font-weight: 500;
    line-height: 13.31px;
    min-width: 141px;
    text-align: left;
  }

  .form__text_type_email {
    padding-top: 17px;
    margin: 0 147px 0 0;
    font-size: 11px;
    font-weight: 500;
    line-height: 13.31px;
    color: #ffffff;
    min-width: 141px;
    text-align: left;
  }

  .form__input {
    display: flex;
    justify-content: flex-end;
    border: none;
    background-color: #202020;
  }

  .profile {
    background-color: #202020;
    text-align: center;
  }

  .profile__form_type_name {
    border-bottom: 1px solid #424242;
  }

  .profile__title {
    padding: 74px 0 123px;
    margin: 0 537px 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    color: #ffffff;
  }

  .profile__button {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 300px;
    margin: 0 10px 0;
  }

  .profile__button_edit {
    font-size: 13px;
    font-weight: 400;
    line-height: 15.73px;
    color: #ffffff;
    background-color: #202020;
    border: none;
    cursor: pointer;
  }

  .profile__button_logout {
    font-size: 13px;
    font-weight: 500;
    line-height: 15.73px;
    color: #ee3465;
  }
}
