.navigation__button_1280 {
  display: none;
}

.navigation__links {
  display: none;
}


.navigation__button_popup {
  display: block;
  border: none;
  cursor: pointer;
  background-color: #202020;
}

.navigation__button_320 {
  display: none;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__link_active {
  border-bottom: 2px solid #ffffff;
}

.navigation__button:hover {
  opacity: 0.7;
}

.navigation__button_popup:hover {
  opacity: 0.7;
}

@media (min-width: 1280px) {
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 365px;
  }

  .navigation__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    min-width: 211px;
  }

  .navigation__link {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }

  .navigation__link_active {
    text-decoration: solid;
    font-weight: 500;
    border: 20px;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
  }

  .navigation__button_popup {
    display: none;
  }

  .navigation__button_320 {
    padding: 8px 20px 8px;
    border-radius: 20px;
    background-color: #313131;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #ffffff;
    display: block;
  }
  .navigation__button_320:hover {
    opacity: 0.7;
  }

  .navigation__button_1280 {
    margin: 0;
    background-color: #313131;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #ffffff;
    display: block;
  }

  .navigation__profile_link {
    cursor: pointer;
  }
}
