.techs {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.techs__title {
  padding: 70px 0 28px;
  min-width: 284px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  color: #ffffff;
  border-bottom: 1px solid #000000;
}

.techs__subtitle {
  padding: 60px 14px 24px;
  min-width: 292px;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 400;
  line-height: 36.31px;
  text-align: center;
  color: #ffffff;
}

.techs__description {
  padding: 0 14px 0;
  min-width: 292px;
  margin: 0 auto;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

.techs__table {
  padding: 50px 71px 70px;
  margin: 0 auto;
  min-width: 180px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.techs__table_icon {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: center;
  color: #ffffff;
  background-image: url(../../../images/techsIcon320.svg);
  height: 57px;
  width: 84px;
}

@media (min-width: 768px) {
  .techs {
    background-color: #272727;
  }

  .techs__title {
    padding: 90px 0 23px;
    min-width: 652px;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.63px;
    text-align: left;
    color: #ffffff;
    border-bottom: 1px solid #dadada;
  }

  .techs__subtitle {
    padding: 80px 0 22px;
    min-width: 600px;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    text-align: center;
    color: #ffffff;
  }

  .techs__description {
    padding: 0;
    max-width: 460px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
  }

  .techs__table {
    padding: 83px 0 90px;
  }
}

@media (min-width: 1280px) {
  .techs {
    min-height: 625px;
  }

  .techs__title {
    padding: 100px 0 23px;
    min-width: 1140px;
  }

  .techs__subtitle {
    padding: 90px 0 26px;
    min-width: 600px;
  }

  .techs__description {
    padding: 0;
    min-width: 460px;
  }

  .techs__table {
    padding: 100px 0 100px;
  }
}
