.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__image {
  position: relative;
}

.card__image_foto {
  width: 300px;
  height: 168px;
}

.card__image_save {
  position: absolute;
  top: 10px;
  left: 268px;
}

.card__image_save_true {
  background-size: contain;
  background-color: transparent;
  background-image: url(../../../images/save3.svg);
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  left: 269px;
}

.card__image_save_false {
  background-image: url(../../../images/save3d.svg);
  background-color: transparent;
  background-size: contain;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  width: 72px;
  height: 21px;
  border-radius: 30px;
  left: 218px;
}

.card__image_movies-save {
  background-image: url(../../../images/d3.svg);
  background-color: transparent;
  background-size: contain;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  border-radius: 30px;
  left: 269px;
}

.card__info {
  padding: 13px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}

.card__info_title {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  text-align: center;
  color: #ffffff;
}

.card__info_time {
  margin: 0;
  padding: 3px 4px 3px;
  font-size: 11px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  color: #8b8b8b;
  border: 1px solid #2f2f2f;
  background-color: #2f2f2f;
  border-radius: 3px;
  min-width: 45px;
}

.card__image_save:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card__image {
    position: relative;
  }

  .card__image_foto {
    width: 339px;
    height: 190px;
  }

  .card__image_save {
    position: absolute;
    top: 14px;
  }

  .card__image_save_true {
    background-size: contain;
    background-color: transparent;
    background-image: url(../../../images/save3.svg);
    border: none;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    left: 305px;
  }

  .card__image_movies-save {
    width: 21px;
    height: 21px;
    left: 305px;
  }

  .card__image_save_false {
    background-image: url(../../../images/save3d.svg);
    background-color: transparent;
    background-size: contain;
    border: none;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    width: 72px;
    height: 21px;
    border-radius: 30px;
    left: 253px;
  }

  .card__info {
    padding: 21px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 335px;
  }

  .card__info_title {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.73px;
    text-align: center;
    color: #ffffff;
  }

  .card__info_time {
    margin: 0;
    padding: 3px 4px 3px;
    font-size: 11px;
    font-weight: 400;
    line-height: 10px;
    text-align: center;
    color: #8b8b8b;
    border: 1px solid #2f2f2f;
    background-color: #2f2f2f;
    border-radius: 3px;
  }
}

@media (min-width: 1280px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card__image {
    position: relative;
  }

  .card__image_foto {
    width: 360px;
    height: 201px;
  }

  .card__image_save {
    position: absolute;
    top: 14px;
  }

  .card__image_save_true {
    background-size: contain;
    background-color: transparent;
    background-image: url(../../../images/save3.svg);
    border: none;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    left: 325px;
  }

  .card__image_movies-save {
    width: 21px;
    height: 21px;
    left: 325px;
  }

  .card__image_save_false {
    background-image: url(../../../images/save3d.svg);
    background-color: transparent;
    background-size: contain;
    border: none;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    width: 72px;
    height: 21px;
    border-radius: 30px;
    left: 270px;
  }

  .card__info {
    padding: 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 360px;
  }

  .card__info_title {
    padding: 0 15px 0;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.73px;
    text-align: center;
    color: #ffffff;
  }

  .card__info_time {
    margin: 0 15px 0;
    padding: 3px 4px 3px;
    font-size: 11px;
    font-weight: 400;
    line-height: 10px;
    text-align: center;
    color: #8b8b8b;
    border: 1px solid #2f2f2f;
    background-color: #2f2f2f;
    border-radius: 3px;
  }
}
