.promo {
  background-color: #073042;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo__title {
  padding: 183px 0 60px;
  margin: 0 10px;
  font-weight: 400;
  font-size: 31px;
  line-height: 39px;
  text-align: center;
  color: #ffffff;
}

.promo__img {
  padding: 0 0 40px;
  margin: 0;
}

@media (min-width: 768px) {
  .promo {
    background-color: #073042;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .promo__title {
    padding: 183px 0 60px;
    margin: 0 10px;
    font-weight: 400;
    font-size: 31px;
    line-height: 39px;
    text-align: center;
    color: #ffffff;
  }

  .promo__img {
    padding: 0 0 40px;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .promo {
    min-width: 1024px;
    min-height: 560px;
  }
  .promo__title {
    width: 626px;
  }

  /*   .promo__img {
    max-width: 722px;
    max-height: 244px;
  } */
}

@media (min-width: 1280px) {
  .promo {
    min-width: 1280px;
  }

  /*   .promo__img {
    max-width: 722px;
    max-height: 244px;
  } */
}
